body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo span {
    color: #00adb5;
}

section {
    padding: 60px 50px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
}

.home-content {
    max-width: 50%;
}

.home-content span {
    color: yellow;
}

.home button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.home-image img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid white;
}

.about, .skills, .projects {
    background: #f4f4f4;
}

.skills ul {
    list-style: square;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}
